{% extends 'mainBase.html' %}
{% load static %}

{% block content %}
<head>
  <title>Profile | {{ user }} {{ super }}</title>
</head>

<div class="container p-5">
  <h1>Profile</h1>
  <div>
      <ul>
          <li><a href="{% url 'users:edit_profile' %}">Edit Profile</a></li>
          <li><a href="{% url 'users:change_password' %}">Change Password</a></li>
      </ul>
  </div>
  <div>
      {% if not profile.first_name %}
          <p>You have an empty profile.</p>
          <a href="{% url 'users:edit_profile' %}">Add some info</a>
      {% else %}
          <div>
              <p><span>First Name</span>: {{ profile.first_name }}</p>
              <p><span>Last Name</span>: {{ profile.last_name }}</p>
              <p><span>Email</span>: {{ profile.email }}</p>
          </div>
          <div">
              <p><span>Bio</span>: {{ profile.bio|safe }}</p>
          </div>
      {% endif %}
  </div>
</div>

{% endblock %}
